.products_block
    
    
.card_container
    display: grid
    grid-template-columns: repeat(4, 1fr)
    gap: 20px

.search_form
    display: flex
    font-weight: 600
    font-size: 20px
    line-height: 130%
    letter-spacing: 0.03em
    color: #000000

.search_price
    display: flex
    align-items: center
   

    input
        margin: 15px
        width: 103px
        height: 42px   
        border: 1px solid #000000
        border-radius: 7px
        padding: 10px

.search_discount
    margin-left: 40px
    display: flex
    align-items: center
  
    input
        margin: 15px
        width: 40px
        height: 40px
        border: 1px solid #000000
        border-radius: 7px

.sort   
    margin-left: 40px
    display: flex
    align-items: center   

    select
        margin: 15px
        width: 103px
        height: 42px   
        border: 1px solid #000000
        border-radius: 7px
        padding: 10px