.products_block
    // width: 100%
    
.card_container
    display: grid
    grid-template-columns: repeat(4, 1fr)
    gap: 10px
    margin: 0 auto

.search_form
    display: flex
    justify-content: space-between
    font-weight: 600
    font-size: 20px
    line-height: 130%
    letter-spacing: 0.03em
    color: #000000

.search_price
    display: flex
    align-items: center
   
    input
        margin: 15px
        width: 103px
        height: 42px   
        border: 1px solid #000000
        border-radius: 7px
        padding: 10px

    button
        margin: 15px    
        width: 103px
        height: 42px   
        border: 1px solid #000000
        border-radius: 7px
        padding: 10px
        font-size: 15px
        cursor: pointer

.sort   
    margin-left: 40px
    display: flex
    align-items: center   

    select
        margin: 15px
        width: 103px
        height: 42px   
        border: 1px solid #000000
        border-radius: 7px
        padding: 10px

@media (max-width: 1000px) 
   .card_container
        display: grid
        grid-template-columns: repeat(2, 1fr)
        gap: 30px

@media (max-width: 800px) 
    .card_container
        display: grid
        grid-template-columns: 1fr
    .search_form
        display: flex
        flex-direction: column

    .search_discount
        margin-left: 0px

    .sort   
        margin-left: 0px

       