.sale
    display: flex
    justify-content: space-between
    background-color: #A1E2EB
    font-weight: 700
    font-size: 80px
    line-height: 130%
    color: white
    overflow: hidden

.sale_text
    margin: 130px 50px

.button
    display: flex
    gap: 50px

.promotions
    width: 240px
    height: 80px
    border: 1px solid black
    background-color: white
    border-radius: 13px
    font-weight: 700
    font-size: 25px
    line-height: 130%

.more
    width: 240px
    height: 80px
    border: 2px solid white
    background-color: transparent
    border-radius: 13px
    color: white
    font-weight: 700
    font-size: 25px
    line-height: 130%
    
    img
        
        // margin-right: 0px

