.sale
    display: flex
    justify-content: space-between
    background-color: #A1E2EB
    overflow: hidden
    margin-left: 0 

.sale_text
    margin: 250px 0px 130px 50px 
    font-weight: 700
    font-size: 80px
    line-height: 130%
    color: white
    

.text_new_season
    font-size: 63px 
    display: flex
    align-items: flex-end
    line-height: 70%

.promotions
    width: 240px
    height: 80px
    border: 1px solid white
    background-color: white
    border-radius: 13px
    font-weight: 700
    font-size: 25px
    line-height: 130%
    cursor: pointers
    margin-top: 70px
    
    img
        object-fit: cover
        margin-top: 50px

