.contact_block {
    display: grid;
    grid-template-columns: 1fr 0.2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "contacts_title . address"
      "phone . address_street"
      "social . work_schedule";
}
 


.contacts_phone{
    display: flex;
    flex-direction: column;
    gap: 50px;
    font-weight: 700;
    font-size: 70px;
    line-height: 130%;
}
    

/* .social
    display: flex 
    margin-bottom: 50px  
    

.social a 
    text-decoration: none
    margin: 20px
    color: black

.social p
    margin: 0 20px 
    font-weight: 600
    font-size: 15px
    line-height: 130%
    color: #000000

.contacts_address
    margin-right: 36px

.address 
    margin-bottom: 25px
    font-weight: 700
    font-size: 40px
    line-height: 130%

.address_street
    font-weight: 500
    font-size: 40px
    line-height: 130%

.work_schedule
    font-weight: 500
    font-size: 18px
    line-height: 130%

.hour_work
    font-weight: 600
    font-size: 24px
    line-height: 130%
 */
